{% block body %}
    <div style="text-align: center;">
    <h1>Update Book</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    <a href="{{ path('app_book') }}"> back to list </a>
    </div>
{% endblock %}